Repository yooshark/my-domains-info: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, local-ruff-check, local-ruff-format

local-biome-check:
  name: biome check (safe mode)
  entry: bash -c 'cd frontend && npm run lint:check'
  language: system
  pass_filenames: false

local-ruff-check:
  name: ruff check
  entry: uv run ruff check backend/app --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

T-4: minor fixes
  .pre-commit-config.yaml
Due: none

T-5: Add descriptions
  .env.example
  .gitattributes
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  backend/README.md
  backend/app/adapters/api/routes/domain_info.py
  backend/app/core/settings.py
  backend/app/run.py
  backend/bin/entrypoint.sh
  frontend/README.md
  frontend/biome.json
  frontend/src/api/domain.ts
  frontend/src/components/AddDomainModal.vue
  frontend/src/composables/useToast.ts
  frontend/src/pages/DomainInfoPage.vue
  frontend/tsconfig.json
Due: local-biome-check, local-ruff-check, local-ruff-format

T-5: Add descriptions
  backend/app/core/settings.py
Due: local-ruff-check, local-ruff-format

Create LICENSE
  LICENSE
Due: none

T-5: Add descriptions
  backend/README.md
  frontend/README.md
Due: local-biome-check

T-5: Add descriptions
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  backend/Makefile
Due: none

T-5: Add descriptions
  backend/Makefile
Due: none

T-5: Add descriptions
  backend/README.md
Due: none

T-5: Add descriptions
  .env.example
  .gitattributes
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  LICENSE
  README.md
  backend/Makefile
  backend/README.md
  backend/app/adapters/api/routes/domain_info.py
  backend/app/core/settings.py
  backend/app/run.py
  backend/bin/entrypoint.sh
  frontend/README.md
  frontend/biome.json
  frontend/src/api/domain.ts
  frontend/src/components/AddDomainModal.vue
  frontend/src/composables/useToast.ts
  frontend/src/pages/DomainInfoPage.vue
  frontend/tsconfig.json
Due: local-biome-check, local-ruff-check, local-ruff-format

T-6: Add uow object
  .pre-commit-config.yaml
  README.md
  backend/Makefile
  backend/README.md
  backend/app/application/domain_info.py
  backend/app/core/di/_container.py
  backend/app/core/uow.py
  backend/app/db/providers.py
  backend/app/db/repositories/base.py
  backend/app/db/repositories/domain_info.py
  backend/bin/entrypoint.sh
  backend/tests/conftest.py
  backend/tests/unit/test_domain_info_repository.py
  backend/tests/unit/test_domain_info_service.py
  frontend/README.md
  frontend/index.html
  frontend/src/api/domain.ts
Due: local-biome-check, local-ruff-check, local-ruff-format

T-6: Add uow object
  .pre-commit-config.yaml
  Dockerfile
  backend/bin/entrypoint.sh
  frontend/src/api/domain.ts
Due: local-biome-check

T-6: Add uow object
  README.md
Due: none

T-6: Add uow object
  .pre-commit-config.yaml
Due: none

T-6: Add uow object
  .pre-commit-config.yaml
  Dockerfile
  README.md
  backend/Makefile
  backend/README.md
  backend/app/application/domain_info.py
  backend/app/core/di/_container.py
  backend/app/core/uow.py
  backend/app/db/providers.py
  backend/app/db/repositories/base.py
  backend/app/db/repositories/domain_info.py
  backend/bin/entrypoint.sh
  backend/tests/conftest.py
  backend/tests/unit/test_domain_info_repository.py
  backend/tests/unit/test_domain_info_service.py
  frontend/README.md
  frontend/index.html
  frontend/src/api/domain.ts
Due: local-biome-check, local-ruff-check, local-ruff-format

release-v0.0.2
  .pre-commit-config.yaml
  Dockerfile
  README.md
  backend/Makefile
  backend/README.md
  backend/app/application/domain_info.py
  backend/app/core/di/_container.py
  backend/app/core/uow.py
  backend/app/db/providers.py
  backend/app/db/repositories/base.py
  backend/app/db/repositories/domain_info.py
  backend/bin/entrypoint.sh
  backend/tests/conftest.py
  backend/tests/unit/test_domain_info_repository.py
  backend/tests/unit/test_domain_info_service.py
  frontend/README.md
  frontend/index.html
  frontend/src/api/domain.ts
Due: local-biome-check, local-ruff-check, local-ruff-format

T-1: Add backend
  .gitignore
  frontend/src/components/HelloWorld.vue
  frontend/src/components/RefreshButton.vue
  frontend/src/composables/useDomains.ts
Due: local-biome-check

T-3: Add docker compose
  backend/.dockerignore
  backend/Dockerfile
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/src/components/HelloWorld.vue
  frontend/src/components/RefreshButton.vue
  frontend/src/composables/useDomains.ts
Due: local-biome-check

T-4: minor fixes
  backend/.dockerignore
  backend/Dockerfile
  frontend/.dockerignore
  frontend/Dockerfile
Due: local-biome-check

Path conditions:
  local-biome-check: any of: ^frontend/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
